In [11]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
import matplotlib.pyplot as plt

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/zameencom-property-data-pakistan/Property.csv
/kaggle/input/zameencom-property-data-pakistan/Property_with_Feature_Engineering.csv

In [12]:
# Loading data

filename = "/kaggle/input/zameencom-property-data-pakistan/Property_with_Feature_Engineering.csv"
# Making the Data Global
global data
data = pd.read_csv(filename, sep = ',')
data.head(5)

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,area_marla,area_sqft,purpose,bedrooms,date_added,year,month,day,agency,agent
0,347795,8,https://www.zameen.com/Property/lahore_model_t...,House,220000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,120.0,32670.12,For Sale,0,07-17-2019,2019,7,17,Real Biz International,Usama Khan
1,482892,48,https://www.zameen.com/Property/lahore_multan_...,House,40000000,Very High,Multan Road,Lahore,Punjab,"Multan Road, Lahore, Punjab",...,20.0,5445.02,For Sale,5,10-06-2018,2018,10,6,Khan Estate,mohsinkhan and B
2,555962,75,https://www.zameen.com/Property/eden_eden_aven...,House,9500000,Low,Eden,Lahore,Punjab,"Eden, Lahore, Punjab",...,9.0,2450.26,For Sale,3,07-03-2019,2019,7,3,Shahum Estate 2,"Babar Hameed, Raja Omar"
3,562843,3821,https://www.zameen.com/Property/gulberg_2_gulb...,House,125000000,Very High,Gulberg,Lahore,Punjab,"Gulberg, Lahore, Punjab",...,20.0,5445.02,For Sale,8,04-04-2019,2019,4,4,NaN,NaN
4,686990,3522,https://www.zameen.com/Property/allama_iqbal_t...,House,21000000,High,Allama Iqbal Town,Lahore,Punjab,"Allama Iqbal Town, Lahore, Punjab",...,11.0,2994.76,For Sale,6,04-04-2019,2019,4,4,NaN,NaN

In [16]:
#1. How many records are in the dataset?
print("Number of records:", len(data))

#2. What columns are present in the dataset?

print("Columns:", data.columns.tolist())

Number of records: 191393
Columns: ['property_id', 'location_id', 'page_url', 'property_type', 'price', 'price_bin', 'location', 'city', 'province_name', 'locality', 'latitude', 'longitude', 'baths', 'area', 'area_marla', 'area_sqft', 'purpose', 'bedrooms', 'date_added', 'year', 'month', 'day', 'agency', 'agent']

In [24]:
# 1. Get the count of each property type
property_type_counts = data['property_type'].value_counts()

# 2. Display the top N most common property types (e.g., top 10)
top_property_types = property_type_counts.head(10)
print("Top 10 Most Common Property Types:")
print(top_property_types)

Top 10 Most Common Property Types:
property_type
House            118915
Flat              40157
Upper Portion     18475
Lower Portion     11693
Room               1029
Farm House          725
Penthouse           399
Name: count, dtype: int64

In [25]:
# Count how many listings exist for each purpose
print(data['purpose'].value_counts())

# Show percentages instead of counts
print(data['purpose'].value_counts(normalize=True).round(2))

purpose
For Sale    127018
For Rent     64375
Name: count, dtype: int64
purpose
For Sale    0.66
For Rent    0.34
Name: proportion, dtype: float64

In [33]:
avg_price = data['price'].mean()
print(f"Average price: {avg_price:,.0f}")  # Formats with commas


min_price = data['price'].min()
max_price = data['price'].max()


print(f"Price range: {min_price:,.0f} to {max_price:,.0f}")

Average price: 16,446,554
Price range: 0 to 2,000,000,000

In [32]:
# Top 10 cities by number of listings
top_cities = data['city'].value_counts().head(10)
print(top_cities)

city
Karachi       60484
Lahore        58736
Islamabad     40195
Rawalpindi    22898
Faisalabad     9080
Name: count, dtype: int64

In [34]:
price_stats = data['price'].describe(percentiles=[.25, .5, .75])
print(price_stats.apply(lambda x: f"{x:,.0f}"))

count          191,393
mean        16,446,554
std         34,164,117
min                  0
25%             80,000
50%          7,300,000
75%         18,000,000
max      2,000,000,000
Name: price, dtype: object